/*Centers "button" in the middle of the page*/
body {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contenedor {
  width: 100%;
  align-items: center;
  justify-content: center;
}
.repo {
  width: 10%;
  align-items: center;
  justify-content: center;
  margin:0 auto;
}
.imagen{
  width:100%;
  margin:0 auto;
  padding-bottom: 15%;
}
.boton{
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding-bottom: 40%;
}

.code {
  width: 100%;
  float:left;
  padding-bottom: 5%;
}


.fcc-btn {
  background-color: #199319;
  color: white;
  padding: 15px 25px;
  text-decoration: none;
  margin-right: auto;
  margin-left: auto;
  border-radius: 20px;
}

.fcc-btn:hover {
  background-color: #223094;
}

#graficas-continer {
  width: 800px;
	height: 500px;
	margin: 50px auto;
	padding: 20px;
	background: #fff;
	overflow:scroll;
  scroll-behavior: smooth;
	font-family: 'Open Sans';
	border-radius: 4px;

}